<div class="url-table-container">
    <h1 class="h1">Available URL Mappings</h1>
    <table id="url-table">
        <thead>
        <th scope="col">Short URL</th>
        <th scope="col">Long URL</th>
        <th scope="col" class="click-counter-td">Click Counter</th>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>

<script src="~/js/urlTable.js"></script>
