@(Html.Kendo().Grid<UrlMapping>()    
    .Name("url-grid")   
    .Columns(columns =>
    {
        columns.Bound(p => p.ShortUrlCode)
            .ClientTemplate($"<a href=\"{ViewData["baseUrl"]}#= ShortUrlCode #\" class=\"short-url\">{ViewData["baseUrl"]}#= ShortUrlCode #</a>")
            .Title("Short Url");
        columns.Bound(p => p.LongUrl).ClientTemplate($"<a href=\"#= LongUrl #\" class=\"long-url\">#= LongUrl #</a>");
        columns.Bound(p => p.ClickCounter).Width(150);
        columns.Command(command => command.Destroy()).Width(150);
    })
    .Height(550)
    .Editable(editable => editable.Mode(GridEditMode.InLine).DisplayDeleteConfirmation(false))
    .Pageable()
    .Navigatable()
    .Sortable()
    .Scrollable()
    .DataSource(dataSource => dataSource       
        .Ajax()
        .PageSize(20)
        .ServerOperation(true)                
        .Model(model =>
        {
            model.Id(p => p.Id);
        })
        .Read("GetPage", "Url")
        // .Update("Editing_Update", "Grid")
        .Destroy(destroy => destroy.Action("Delete", "Url").Type(HttpVerbs.Delete))
    ))